
@font-face {
    font-family: RobotoLight;
    src: url(Fonts/Roboto/Roboto-Light.ttf);
}
@font-face {
    font-family: RobotoMedium;
    src: url(Fonts/Roboto/Roboto-Medium.ttf);
}
@font-face {
    font-family: ArialBlack;
    src: url(Fonts/Arial/arial_black.ttf);
}
@font-face {
    font-family: Pristina;
    src: url(Fonts/Pristina.ttf);
}
html{
    padding: 0;
    margin: 0;
    position: relative;

}
body{
    background-image: url(img/white-fabric-texture.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0;
    margin: 0;
}
p{
    padding: 0;
    margin: 0;
}

.container {
    width: 100%;
    margin: 0 auto;
    max-width: 70vmax;
    padding: 0.5vmax 5vmax;
    overflow:visible;
    background-color: #ffffff;
    
}
.header {
    z-index: 3;
    width: 100%;
    display: flex;
    flex-direction:row ;
    justify-content: space-between;
    margin: 0 auto;
    border-radius: 20%;
    position: fixed;
    top: 0;
    
}
.header__fake {
    position: relative;
    top: 0;
    height: 5.7082vmax;
}
.headerInner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(207, 207, 207);
    background-size: cover;
    width: 100%;
    padding: 0.2vmax 15vmax;

    
}
.header__logo {
    width:10vmax;
    fill: rgb(0, 0, 0);
}
.header__links {
    width: fit-content;
    display:flex;
    text-decoration: none;
    position: relative;
}
.header__link {
    margin-left: 2vmax;
    font-size: 1.5vmax;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
    height: fit-content;
}

.header__linkTop {
    font-family: RobotoMedium;
    text-decoration: none;
    font-size: 1.5vmax;
    color:rgb(0, 0, 0);
    transition: all 0.2s;
    pointer-events: painted;
    z-index: 1;
}
.header__linkTop::before{
    content: "";
    border-color: rgba(165, 42, 42, 0.678);
    background-color: rgba(165, 42, 42, 0.678);
    width: 20%;
    border-width: 0.12vmax;
    border-style:solid;
    position:absolute;
    top: 110%;
    left: 50%;
    transform: translate(-50%);
    border-radius: 200px;
    opacity: 0;
    transition: all 0.3s ;
}
.header__link:hover .header__linkTop::before{
    opacity: 1;
    width: 90%;
}
.header__linkBottom {
    position: absolute;
    width: 160%;
    padding-top:1.5vmax;
    user-select: none;
    pointer-events: none;
    opacity: 0;
    transition: all 0.2s;
    
}
.header__link:hover .header__linkTop{
    color: rgba(165, 42, 42, 0.678);
}
.header__link:hover .header__linkBottom{
    padding-top:3vmax;
    user-select: none;
    pointer-events:painted;
    opacity: 1;


}
.header__linkBottomItems {
    width: 100%;
    font-family: RobotoMedium;
    text-decoration: none;
    font-size: 1vmax;
    display: flex;
    flex-direction: column;
    text-align: center;    
    background-color: rgb(236, 236, 236);
    padding: 0.2vmax;
    border-radius: 0.3vmax;
    justify-content: space-between ;
    padding: 1vmax 0;

}
.linkBottom {
    font-family: RobotoMedium;
    text-decoration: none;
    width: 100%;
    text-align: center;
    text-decoration: none;
    font-size: 1vmax;
    color:rgba(165, 42, 42, 0.678);
    transition: all 0.2s;
    
}
.linkBottom:hover{
    color: rgb(0, 0, 0);
}
.inf {
    
}
a{
    margin: 0;
    padding: 0;
}
.inf__inner {
    padding-top: 2vmax;

}
.inf__innerText {
    font-size: 1.5vmax;
    font-family: RobotoLight;
}
p{
    text-indent: 3vmax;
    padding-bottom: 1vmax;
}
.linkBottom {
    font-family: RobotoMedium;
    text-decoration: none;
    width: 100%;
    text-align: center;
    text-decoration: none;
    font-size: 1vmax;
    color:rgba(165, 42, 42, 0.678);
    transition: all 0.2s;
    
}
.linkBottom:hover{
    color: rgb(0, 0, 0);
}
.activity {
    
}
.activity__inner {
    padding-top: 2vmax;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;

}
.activity__innerText {
    font-size: 1.5vmax;
    font-family: RobotoLight;
    color: rgb(0, 0, 0);
}
.activity__img{
    width: 70%;
}
img{
    width: 100%;
}
.index__container {
    width: 100%;
    margin: 0 auto;
    max-width: 70vmax;
    padding: 0.5vmax 5vmax;
    overflow:visible;
}
.intro{
    background-color: #ffffff73;
}
.intro__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.intro__innerText {
    text-align: center;
    padding: 4vmax 0;
}
.intro__innerTitle {
    font-family: ArialBlack;
    font-size: 5vmax;
    text-transform: uppercase;
}
.index__container {
}
.products__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.products__Title {
    padding: 2vmax 0 ;
    font-family: RobotoMedium;
    font-size: 2vmax;
    color: #000;
}
.products__blocks {
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 100%;
}
.products__blocksItem {
    position: relative;
    width: 23vmax;
    height: 23vmax;
    background-size: cover;
    background-position: center;   
    border-radius: 1%; 
    overflow: hidden;
    align-items: center;
    justify-content: center;
    display: flex;
    text-decoration: none;
}
.products__dark {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #00000057;
}
.products__blocksTitle {
    color: #ffffff;
    font-family: ArialBlack;
    text-align: center;
    text-transform: uppercase;
    font-size: 2vmax;
    z-index: 1;
    text-shadow: 0vmax 0vmax 1vmax #000;
    transition: all 0.3s;
}
.products__red {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #d1000067;
    opacity: 0;
    transform: scale(0.1);
    border-radius: 50%;
    transition: all 0.3s;
}
.products__blocksItem:hover .products__red{
    transform: scale(1);
    border-radius: 0;
    opacity: 1;
}
.products__blocksItem:hover .products__blocksTitle {
    color: #000;
}
.bottom {
    background-color: #242424;
    margin-top: 5vmax ;
    box-sizing: border-box;
    
}
.container__bottom {
    width: 100%;
    margin: 0 auto;
    max-width: 70vmax;
    padding: 0.5vmax 5vmax;
    overflow:visible;
}
.bottom__inner {
    height: 4.5vmax;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.bottom__logo {
    width: 8vmax;
    fill: #fff;
}
.bottom__innerLinks {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.bottom__linksInst {
    width: 1.5vmax;
    fill: #ffffff;
    transition: all 0.2s;
}
.bottom__linksInst:hover{
    fill: #bb01f3;
    transform: scale(1.2);
}
.bottom__linksFace{
    width: 2vmax;
    fill: #ffffff;
    transition: all 0.2s;
}
.bottom__linksFace:hover{
    fill: #4267B2;
    transform: scale(1.2);
}
.bottom__linksTwit {
    width: 1.5vmax;
    fill: #ffffff;
    transition: all 0.2s;
}
.bottom__linksTwit:hover{
    fill: #1DA1F2;
    transform: scale(1.2);
}
.bottom__links {
    margin-left: 0.5vmax;
}
.fabric{
    
}
.fabric__inner {
    background-color: #ffffffe0;
    border-radius: 1vmax;
    padding: 1vmax;
    margin-top: 2vmax;
}
.sale__list {
}
.sale__block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1vmax 3vmax;
    background-color: #03030315;
    border-radius: 1vmax;
    margin: 1vmax 0;
    transition: all 0.2s;
}
.sale__block:hover{
    background-color: #03030341;
}
.sale__blockInf {
    display: flex;
    justify-content: space-between;
}
.sale__blockImg {
    width: 5.5vmax;
    height: 5.5vmax;
    border-radius: 0.7vmax;
    background-size: cover ;
}
.sale__blockText {
    margin-left: 1vmax ;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.sale__blockTitle {
    text-transform: uppercase;
    font-size: 1vmax;
    font-family: RobotoMedium;
    padding-bottom: 0.5vmax;
}
.sale__blockSubtitle {
    font-size: 0.8vmax;
    max-width: 30vmax;
    font-family: RobotoLight;
}
.sale__blockBtn {
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #dfb0b0;
    padding: 0.5vmax;
    height: 3vmax;
    width: 6vmax;
    border-radius: 1vmax;
    transition: all 0.2s;
    transform-origin:center;
    text-decoration: none;
    color: #000;
}
.sale__blockBtn:hover{
    background-color: #e26f6f;
    transform: scale(0.9);
}
.sale__blockBtn:active{
    transform: scale(0.8);
}
.sale__blockBtn:hover .sale__price{
    opacity: 0;
    transform: scale(0.1);
}
.sale__blockBtn:hover .sale__buy{
    opacity: 1;
    transform: scale(1);
}
.sale__price {
    font-family: RobotoMedium;
    font-size: 1vmax;
    transition: all 0.2s;

}
.sale__buy {
    font-family: RobotoMedium;
    font-size: 1vmax;
    position: absolute;
    opacity: 0;
    transition: all 0.2s;
    transform: scale(0.1);
}
.productCard {
    margin-top: 5vmax;
    border-radius: 2vmax;

}
.productCard__inner{
    padding: 10vmax 0;

}
.product__inf {
    display: flex;
    justify-content: space-between;
}
.product__slider {
    display: flex;
    flex-direction: column;

}
.product__sliderImages {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1vmax;
    align-items: center;

}
.product__sliderList {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.product__sliderListItem {
    width: 5vmax;
    height: 5vmax;
    background-size: cover;
    border-radius: 0.5vmax;
    margin-bottom: 0.5vmax;
    border-style: solid;
    border-width: 0;
    border-color: #0000004f;
    transition: all 0.2s;
    box-sizing: border-box;

}
.product__sliderListItem:hover{
    border-width: 0.2vmax;
}
.product__slides {
    position: relative;
    height: 21.5vmax;
    width: 21.5vmax;
    margin-left: 1.5vmax;
    overflow: hidden;
}
.product__slide {
    position: absolute;
    height: 21.5vmax;
    width: 21.5vmax;
    border-radius: 1vmax;
    background-size: cover;

}
.product__sliderBtns {
    width: 100%;
    text-align: center;
}
.product__sliderBtn {
    background-color: #6b6b6b;
    font-size: 0.8vmax;
    border-radius: 50%;
    text-align: center;
    font-family: ArialBlack;
    color: #fff;
    border: none;
    width: 1.5vmax;
    height: 1.5vmax;
    transition: all 0.2s;
    pointer-events: painted;
}
.product__sliderBtn:hover{
    background-color: #3f3f3f;
}
#slide1{
    transform: translateX(0);
}
#slide2{
    transform: translateX(100%);
}
#slide3{
    transform: translateX(200%);
}
#slide4{
    transform: translateX(300%);
}
.productCard__text {
    max-width: 30vmax;
}
.productCard__title {
    font-size: 3vmax;
    font-family: RobotoMedium;
    text-transform: uppercase;
    margin-bottom: 2vmax;
}
.productCard__subtitle {
    font-family: RobotoLight;
    font-size: 1vmax
}
.productCard__price {
    margin-top: 2vmax;
}
.productCard__priceBtn {
    font-family: RobotoMedium;
    font-size: 1.5vmax;
    background-color: rgb(71, 71, 71);
    border: none;
    border-radius: 0.5vmax;
    padding: 0.5vmax 1vmax;
    color: #fff;
    transition: all 0.2s;
}
.productCard__priceBtn:hover {
    background-color: rgb(31, 31, 31);
}